body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

a {
    color: inherit;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 100vh;
    font-size: 20px;
}

.item {
    padding: 1em;
    box-sizing: border-box;
    text-align: justify;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    background-color: #797D62;
}

.header h1, h2 {
    color: #F1DCA7;
}

.content {
    display: flex;
    height: calc(100% - 200px);
    min-height: calc(100vh - 200px);
}

.left-sidebar {
    padding: 0 1em 0 0;
    width: 15%;
    align-content: center;
    text-align: start;
    word-break: break-word;
    background-color: #9B9B7A;
}

.left-sidebar h3 {
    margin-left: 1em;
}

.middle {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.sub-header {
    min-height: 50px;
    padding: 0;
    align-content: center;
    text-align: center;
    word-break: break-word;
    background-color: #D9AE94;
}

.sub-header a {
    text-decoration: none;
}

.text {
    background-color: #F1DCA7;
    height: 100%;
}

.text img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
}

.right-sidebar {
    width: 15%;
    display: flex;
    flex-direction: column;
}

.right-sidebar h3 {
    margin-left: 1em;
}

.sidebar {
    padding: 0 1em 0 0;
    height: 100%;
    align-content: center;
    text-align: start;
    word-break: break-word;
    background-color: #9B9B7A;
}

.sidebar-footer {
    word-break: break-word;
    background-color: #D08C60;
}

.sidebar-footer i {
    word-break: break-all;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    background-color: #997B66;
}